name: Selenium Runner

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  super-lint:
    name: Selenium Run
    runs-on: ubuntu-20.04

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: |
            ~/cache/.venv

      - name: run
        run: |
          ./runner.sh
          mv dist/.venv ~/cache
