name: Selenium Runner

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  run-selenium:
    name: Selenium Run
    runs-on: ubuntu-20.04
    strategy:
          matrix:
            python-version: [3.8]
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: |
            galaxy/.venv/
          key: ${{ runner.os }}-selenium

     - name: Dump GitHub context
       env:
          GITHUB_CONTEXT: ${{ tojson(github) }}
          ENVIRONMENT: ${{ github.event.deployment.environment }}
       run: |
          echo "$GITHUB_CONTEXT"
          echo $ENVIRONMENT