name: Selenium Runner

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  prepare:
    name: Selenium Run
    runs-on: ubuntu-20.04
    strategy:
          matrix:
            python-version: [3.8]
    outputs:
      matrix: ${{ steps.prepare-tests.outputs.matrix }}
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: |
            galaxy/.venv/
          key: ${{ runner.os }}-selenium

      - id: prepare-tests
        run: |
          TEST_VAR=$(source run.sh ${{ secrets.KEY }})
          VAR={'\"include\"':$(echo $TEST_VAR)}
          echo $VAR
          echo "::set-output name=matrix::$VAR"

  run-selenium-tests:
    name: Individual Test
    runs-on: ubuntu-20.04
    needs: prepare
    strategy:
      matrix: ${{fromJson(needs.prepare.outputs.matrix)}}
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: run
        env:
          selenium-test: ${{ matrix }}
        run: |
          echo "$selenium-test"
